<header>
    <h1>Tiny App</h1>
    <p><a href="/urls/new">Create New TinyURL</a></p>
    
</header>

<% if(user_id){ %>
    <form action="/logout" method="POST">
        <h1>You have successfully logged in, <%=email%>!</h1>
        <button>log Out</button>
    </form>
  <% } else{ %>  
    <a href="/login">Login</a>
    <a href="/register">Register</a>
 <% } %>